
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/img/favicon.ico" rel="bookmark" type="image/x-icon" />
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/img/favicon.ico" rel="bookmark" type="image/x-icon" />
    <title>Maylin</title>
    <link href="/css/base/bootstrap.min.css" rel="stylesheet">
    <link href="/css/base/common.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
      
  
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed js-navbar-collapse" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="javascript:void(0);" class="navbar-brand c-blue logo"><img src="/img/Maylin.jpg" alt="网站logo"></a>
        </div>
        <nav id="bs-navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="active">首页</a>
            </li>
            <li>
              <a href="#">技术</a>
            </li>
            <li>
              <a href="#">生活</a>
            </li>
            <li>
              <a href="#">留言板</a>
            </li>
            <li>
              <a href="#">About Me</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li class="hidden-xs hidden-xs">
            <span class="f12 top-middle">试着用手机访问看看呢，缩小浏览器也可以~~</span>
           </li>
           <li>
              <!-- <a v-link="{ name: '#!/index', params: { testParam: 123 }}">关于本站</a> -->
             <a href="#">数据统计</a>

            </li>
          </ul>
        </nav>
      </div>
      <!-- <button v-on:click="hello">Hello</button> -->
    </header>

    <section class="container-fluid index-main text-center">
  <h1 class="title f-as">To be a good coder</h1>
  <h2 class="sub-title f-as mt16"> contact me by <a href="liumeiling_029@163.com?subject=我从您的博客看到您的联系信息">liumeiling_029@163.com</a></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col sm-6 col-xs-6">
        <div class="each-col">
          <a href=""><img src="/img/index-icon1.png" alt="这里是图片" class="img user-photo"></a>
          <p class="desc"><a href="">技术学习</a></p>
        </div>
      </div>
      <div class="col-md-3 col sm-6 col-xs-6">
        <div class="each-col">
          <a href=""><img src="/img/index-icon3.gif" alt="这里是图片" class="img user-photo"></a>
          <p class="desc"><a href="">生活点滴</a></p>
        </div>
      </div>
      <div class="col-md-3 col sm-6 col-xs-6">
        <div class="each-col">
          <a href="javascript:void(0);"><img src="/img/index-icon2.svg" alt="这里是图片" class="img user-photo img-responsive"></a>
          <p class="desc"><a href="">留言板</a></p>
        </div>
      </div>
      <div class="col-md-3 col sm-6 col-xs-6">
        <div class="each-col">
          <a href="javascript:void(0);"><img src="/img/me.png
          " alt="这里是图片" class="img user-photo"></a>
          <p class="desc"><a href="">About Me</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer text-center hidden-sm hidden-xs">
        <p>版权信息</p>
</section>
</body>
</html>
